 

body {
	overflow: scroll;
}
header {
	position:fixed !important;
}
    .accordion-item {
      background-color: #151b23;
	  border:none;
	  margin-bottom:8px;
	  border-radius:6px;
    }

    .accordion-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      cursor: pointer;
      font-size: 1rem;
	  color:#fff;
    }

    .accordion-header:hover {
      background-color: #010409;
    }

    .accordion-header span {
      color: #fff;
      font-size: 0.9rem;
    }

    .accordion-content {
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease-out;
      background-color: #151b23;
	  padding: 0 16px;\
    }
	.accordion-content:hover {
		overflow:auto;
	}

    .accordion-content.open {
      max-height: 50vh;
      padding: 16px;
    }

    .card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 16px;
    }

    .card-grid2 {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(306px, 1fr));
      gap: 20px;
	  padding-bottom:40px;
    }
	
	    .card-grid3 {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
      gap: 20px;
	  padding-bottom:40px;
    }
	
    .carda {
      padding: 12px;
      border-radius: 8px;
      border: 1px solid #454545;
	  color:#fff;
    }
	.card-grid-inverter .carda:hover {
		background:rgba(0,0,0,0.2);
	}

    .carda h3 {
      margin: 0 0 8px;
      font-size: 1rem;
    }

    .carda p {
      margin: 4px 0;
      font-size: 0.9rem;
	  justify-content: space-between;
	  display:flex;
    }
	.carda p span {
		color:#ddd;
	}
	
	 .card-grid-inverter {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 16px;
    }
	.card-grid-inverter h3 {
		color:#fff;
	}
	.card-grid-inverter p {
		padding-left:16px;
	}
	.card-grid-inverter p.power {
		font-size:1.5rem;
	}
	.card-grid-inverter p.power span {
		font-size:1rem;
		padding-top:12px;
	}
	.carda ul {
		margin-bottom: 3px !important;
		    display: flex;
    justify-content: space-between;
    align-items: center;
	}
	.carda ul li {
		padding: 4px 16px;
	}
	.carda ul li:first-child {
		
		color:#ddd;
		line-height:1rem;
	}
	
	.carda ul li:nth-child(3) {
		width:20%;
		color:#ddd;
		font-size:10px;
	}
	.card-grid-system-feedback .carda ul:nth-child(2), .card-grid-system-feedback .carda ul:nth-child(4), .card-grid-inverter .carda ul:nth-child(2), .card-grid-inverter .carda ul:nth-child(4) {
		background:rgba(0,0,0,0.2);
		border-radius:6px;
	}
	
	.pill {
		border-radius:10px;
		display:inline-block;
		font-size:12px;
		background: #061B2D;
		color:#74C0FF;
		padding:4px 8px;
		margin-left:8px;
	}
	
	 .control-content {
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease-out;
      background-color: rgba(0,0,0,0.4);
	  padding: 0 16px;
	  margin-top:-8px;
    }

    .control-content.open {
      max-height: 600px;
      padding: 16px;
	  margin-top:-10px;
	  border-radius:0 0 6px 6px;
	  color:#fff;
	    background:rgba(0,0,0,0.4);

    }
	.control-header:hover {
		cursor:pointer;
		background:none;
	}
	
		 .control-content2 {
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease-out;
    }

    .control-content2.open {
	max-height: 600px;
	  margin-top:-10px;
	  border-radius:0 0 6px 6px;
	  color:#fff;
	  padding: 0 0 8px 0;
	}

.radio-container input[type="radio"]{
	margin: 16px 8px;
}


div.field-container {
	padding: 0 !important;
	margin-left: 0 !important;
	width: 300px;
}
    .field-container input {
      width: 100%;
      padding: 10px 10px 10px 12px;
       border: 1.5px solid #29323f;
      background-color: #0d1117;
      color: white;
	  border-radius:6px;
	  height:35px;
    }

    .field-container input::placeholder {
      color: #ccc;
    }
	


 .button{
	padding: 8px 16px;
	text-align:center;
	color:#fff;
	border-radius:6px;
	width: 300px;
	background:#0071CE;
	margin-top:16px;
}
.button:hover {
	cursor:pointer;
	backgroud:#0B4E84;
}

  .tooltip-container2 {
      position: relative;
      display: inline-block;
      cursor: pointer;
    }
  .tooltip-container2 i {
	   color:#909090;
	}

    .tooltip-text2 {
      visibility: hidden;
      opacity: 0;
      background-color: #fff;
      color: #000;
      text-align: left;
      padding: 8px 10px;
      border-radius: 4px;
      position: absolute;
      z-index: 1;
      left: 120%; /* position to the right of the icon */
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.3s;
      white-space: normal;
      width: 350px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    }

    .tooltip-container2:hover .tooltip-text2 {
      visibility: visible;
      opacity: 1;
    }

  .accordion-sidebar {
	  overflow:hidden;
	  padding:16px 0;
  }
  .accordion-sidebar .content {
	  overflow:hidden;
  }